#search-box {
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
    position: absolute;
    top: 1.5em;
    width: calc(100% - 3em);
    z-index: 9;

    ::ng-deep .mat-form-field-outline {
        background-color: #fff;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px 10px rgba($color: #000000, $alpha: 0.15);
    }
}

.establishment-icon {
    margin-right: 0.5em;
}