#close-button {
    background: var(--gradient-primary);
    position: absolute;
    top: -10px;
    right: -10px;
}

.divider {
    margin: 1em 0 2em;
}

.establishment-details {
    .details-item {
        display: flex;
        flex-direction: row;
        gap: 1em;
        margin-bottom: 2em;

        .title {
            font-weight: bold;
            line-height: 1em;
            margin-bottom: 0;
        }

        p {
            margin-bottom: 0;
        }
    }

    a {
        color: #5485e5;
        text-decoration: none;
    }
}

.establishment-specialties {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 15px;
    max-height: 250px;
    overflow-y: scroll;

    .specialty {
        text-align: center;
        margin-bottom: 0.5em;

        .icon {
            width: 50px;
        }

        .title {
            text-transform: lowercase;
            line-height: 1.1em;
            margin-bottom: 0;

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }

    &::-webkit-scrollbar {
        width: 7.5px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color: #000000, $alpha: 0.1);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: rgba($color: #000000, $alpha: 0.15);
    }
}

.loading {
    width: 60px;
    height: 60px;
}