#map {
  height: 100%;

  .establishment-details {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
}

::ng-deep {
  .cdk-overlay-dark-backdrop {
    background: none;
  }

  .establishment-modal {
    .mat-dialog-container {
      background: rgba($color: #fff, $alpha: 0.7);
      backdrop-filter: blur(6px) brightness(115%);
      border-radius: 10px;
      overflow: visible;
      position: relative;
    }
  }
}
