#map {
  height: 100%;

  .establishment-details {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
  }
}

::ng-deep {
  .gm-style .gm-style-iw-c {
    box-shadow: 0 10px 6px rgba($color: #000, $alpha: 0.1);

    button {      
      opacity: 0;
    }
  }

  .cdk-overlay-dark-backdrop {
    background: none;
  }

  .establishment-modal {
    .mat-dialog-container {
      max-width: 500px;
      background: rgba($color: #fff, $alpha: 0.7);
      backdrop-filter: blur(6px) brightness(115%);
      border-radius: 10px;
      box-shadow: 0 3px 10px rgba($color: #000, $alpha: 0.15);
      overflow: visible;
      position: relative;
    }
  }
}
