#map {
  height: 100%;

  .establishment-details {
    display: flex;
    flex-direction: column;
    padding: 0.5em;

    .category,
    .name,
    .office-hours {
      margin: 0;
    }

    .category,
    .name {
      font-weight: bold;
    }

    .office-hours {
      color: #9A9A9A;
    }

    .category-id-1 {
      color: #5485e5;
    }

    .category-id-2 {
      color: #8bc94d;
    }
  }
}
