<div id="map" *ngIf="googleApiLoaded">
  <search-box (onSelectEstablishment)="centralizeMapOnEstablishmentLocalization($event)"></search-box>

  <google-map #googleMap="googleMap" width="100%" height="100%" [options]="mapOptions"
    (mapDragend)="onCenterMapChanged()" (zoomChanged)="onZoomChanged()">
    <map-marker [position]="userLocalizationMarker" icon="assets/icons/map/user-location.svg"></map-marker>

    <map-marker #marker="mapMarker" ngClass="marker" *ngFor="let establishment of establishmentsList"
      [position]="convertLocalizationToGoogleFormat(establishment.localization)"
      [icon]="getIconPathByCategory(establishment.category)"
      (mapClick)="openEstablishmentInfoWindow(marker, establishment)" [options]="{optimized: true}">
    </map-marker>

    <map-info-window class="establishment-details establishment">
      <h5 class="category" [ngClass]="'category-id-' + establishmentSelected?.category?.id">{{
        establishmentSelected?.category?.name }}</h5>
      <h3 class="name">{{ establishmentSelected?.name }}</h3>
      <p *ngIf="establishmentSelected?.alwaysOpen" class="office-hours">Atendimento 24h.</p>
      <a (click)="openModalEstablishment()">Ver mais informações</a>
    </map-info-window>
  </google-map>
</div>