#content {
  display: flex;
  flex-direction: column;
  height: 100%;

  footer {
    margin-top: auto;

    .mat-toolbar {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
      box-shadow: 0 -2px 6px rgba($color: #a8a8a8, $alpha: 0.16);

      .mat-icon-button {
        color: #9a9a9a;
      }

      #search-button {
        bottom: 15px;
        background: linear-gradient(45deg, #1565d7, #74bbf3);
        width: 70px;
        height: 70px;

        img {
          max-width: 80%;
          height: auto;
        }
      }
    }
  }
}
