<div id="content">
  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <mat-toolbar>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon fontSet="material-icons-outlined">home</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon fontSet="material-icons-outlined">schedule</mat-icon>
      </button>
      <button mat-fab id="search-button" color="primary" aria-label="Example icon-button with share icon">
        <img src="assets/icons/internal/search.svg">
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon fontSet="material-icons-outlined">event</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon fontSet="material-icons-outlined">person</mat-icon>
      </button>
    </mat-toolbar>
  </footer>
</div>